Phase2_Project/Ausarbeitungen/Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"> 
   

    <!-- Sportverzeichnis -->
    
        <xs:element name="Sportverzeichnis">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="SportgruppenM"   minOccurs="1" maxOccurs="unbounded"/>
                    <xs:element ref="SportartenM"      minOccurs="1" maxOccurs="unbounded"/>
                    <xs:element ref="VeranstaltungenM" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="OrteM"           minOccurs="1" maxOccurs="unbounded"/>
                    <xs:element ref="GebaeudeM"      minOccurs="1" maxOccurs="unbounded"/>
                    <xs:element ref="EquipmentM"     minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="VeranstalterM"  minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>    
    
    <!-- /Sportverzeichnis -->
    
<!-- ______________________________________________________________________________________________________________ -->    
    
    <!-- Sportgruppen - MEHRZAHL -->
        <xs:element name="SportgruppenM">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="Sportgruppe" minOccurs="1" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
    <!--/Sportgruppen - MEHRZAHL -->
    
    <!-- Sportgruppe - EINZAHL --> 
    
        <!-- SimpleTypes -->
        <xs:element name="SGName" type="xs:string"/>
        <xs:element name="SGBeschreibung" type="xs:string"/>
        
        <!-- ComplexTypes -->
        <xs:element name="Sportgruppe">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="SGName"/>
                    <xs:element ref="SGBeschreibung"/>
                    
                    <!-- ElementRefs -->
                    <xs:element ref="SportartIDRef" minOccurs="1" maxOccurs="unbounded"/>
                    <!-- /ElementRefs -->
                    
                </xs:sequence>
                <xs:attribute ref="id" use="required"/>
            </xs:complexType>
        </xs:element>
    
    <!-- /Sportgruppe - EINZAHL -->
 
<!-- ______________________________________________________________________________________________________________ -->
 
    <!-- Sportarten - MEHRZAHL -->
        <xs:element name="SportartenM">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="Sportart"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
    <!--/Sportarten - MEHRZAHL -->
    
       
    <!-- Sportart - EINZAHL -->

        <!-- SimpleTypes -->
        <xs:element name="SName" type="xs:string"/>
        <xs:element name="SBeschreibung" type="xs:string"/>
        <xs:element name="SVorraussetzung" type="xs:string"/>
        <xs:element name="SHerkunft" type="xs:string"/>
        <xs:element name="SRegeln" type="xs:string"/>
        
        <!-- ComplexTypes -->
        <xs:element name="Sportart">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="SName"/>
                    <xs:element ref="SBeschreibung"/>
                    <xs:element ref="SHerkunft"/>
                    <xs:element ref="SVorraussetzung"/>
                    <xs:element ref="SRegeln"/>
                    
                    <!-- ElementRefs -->
                    <xs:element ref="SportgruppeIDRef"/> <!-- Eine Sportart muss zu einer Sportgruppe gehören -->
                    <xs:element ref="VeranstaltungIDRef" minOccurs="0" maxOccurs="unbounded"/> <!-- mehrere Veranstaltungen, nicht alle, aber zu der Sportart zugehörigen -->
                    <!-- /ElementRefs -->
                    
                </xs:sequence>
                <xs:attribute ref="id" use="required"/>
            </xs:complexType>
        </xs:element>
  
    <!-- /Sportart - EINZAHL -->
    
<!-- ______________________________________________________________________________________________________________ -->    
    
    
    <!-- Veranstaltungen - MEHRZAHL -->
        <xs:element name="VeranstaltungenM">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="Veranstaltung"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
    <!--/Veranstaltungen - MEHRZAHL -->
    
    <!-- Veranstaltung - EINZAHL-->
    
        <!-- SimpleTypes -->
        <xs:element name="VBeschreibung" type="xs:string"/>
        <xs:element name="VInfo" type="xs:string"/>
        <xs:element name="VDatum" type="xs:date"/>
        <xs:element name="VUhrzeit" type="xs:time"/>
        <xs:element name="VNiveau" type="xs:string"/>
        <xs:element name="VVorraussetzungen" type="xs:string"/>

        
        <!-- ComplexTypes -->
        <xs:element name="Veranstaltung">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="VBeschreibung"/>
                    <xs:element ref="VInfo" minOccurs="0"/>

                    <xs:element ref="VDatum"/>
                    <xs:element ref="VUhrzeit"/>
                    <xs:element ref="VNiveau" minOccurs="0"/>
                    <xs:element ref="VVorraussetzungen" minOccurs="0"/>
                    
                    <!-- ElementRefs -->
                    <xs:element ref="SportartIDRef"/>
                    <xs:element ref="GebaeudeIDRef"/>
                    <xs:element ref="OrtIDRef"/>
                    <xs:element ref="VeranstalterIDRef"/>
                    <!-- /ElementRefs -->
                    
                </xs:sequence>
                <xs:attribute ref="id" use="required"/>
            </xs:complexType>
        </xs:element>
    
    <!-- /Veranstaltung - EINZAHL -->

    
<!-- ______________________________________________________________________________________________________________ --> 
 
    <!-- Orte - MEHRZAHL -->
        <xs:element name="OrteM">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="Ort"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
    <!-- /Orte - MEHRZAHL -->
    
    
    <!-- Ort - EINZAHL -->

        <!-- SimpleTypes -->
        <xs:element name="OName" type="xs:string"/>
        
        <!-- ComplexTypes -->
        <xs:element name="Ort">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="OName"/>
                    
                    <!-- ElementRefs -->
                    <xs:element ref="GebaeudeIDRef" minOccurs="1" maxOccurs="unbounded"/> 
                    <!-- /ElementRefs -->
                    
                </xs:sequence>
                <xs:attribute ref="id" use="required"/>
            </xs:complexType>
        </xs:element>

    <!-- Ort - EINZAHL -->
    
    
<!-- ______________________________________________________________________________________________________________ -->     
    
   <!-- Gebäude - MEHRZAHL -->
        <xs:element name="GebaeudeM">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="Gebaeude"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
   <!--/Gebäude - MEHRZAHL -->
    
    <!-- Gebäude - EINZAHL -->
    
        <!-- SimpleTypes -->
        <xs:element name="GName" type="xs:string"/>
        <xs:element name="GAnschrift" type="xs:string"/>
        
        <!-- ComplexTypes -->
        <xs:element name="Gebaeude">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="GName"/>
                    <xs:element ref="GAnschrift"/>
                    
                    <!-- ElementRefs -->
                    <xs:element ref="OrtIDRef"/>    
                    <xs:element ref="VeranstaltungIDRef" minOccurs="0" maxOccurs="unbounded"/> 
                    <xs:element ref="EquipmentIDRef" minOccurs="0" maxOccurs="unbounded"/> 
                    <!-- /ElementRefs -->
                    
                </xs:sequence>
                <xs:attribute ref="id" use="required"/>    
            </xs:complexType>
        </xs:element>
    
    <!-- /Gebäude - EINZAHL -->
    
<!-- ______________________________________________________________________________________________________________ -->


    <!-- Equipment - MEHRZAHL -->
        <xs:element name="EquipmentM">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="Equipment"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
    
    
    <!--/Equipment - MEHRZAHL -->
    
    
    <!-- Equipment - EINZAHL -->
        <!-- SimpleTypes -->
        <xs:element name="EName" type="xs:string"/>
            
        <!-- ComplexTypes -->
        <xs:element name="Equipment">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="EName"/>
                    
                    <!-- ElementRefs -->
                    <xs:element ref="GebaeudeIDRef"/> <!-- Genau einem Ort immer zugewiesen -->
                    <xs:element ref="VeranstalterIDRef" minOccurs="0" maxOccurs="1"/> <!-- Wenn ausgeliehen 1, sonst 0. Incl. Attribut (entliehen)!, bei der Programmierung später nicht vergessen, wenn Attribut gesetzt, Veranstaltereingabe Pflicht! -->
                    <!-- /ElementRefs -->
                    
                </xs:sequence>
                <xs:attribute ref="id" use="required"/>
                <xs:attribute ref="entliehen" use="required"/>
            </xs:complexType>
        </xs:element>
     
     <!-- /Equipment - EINZAHL -->
 
<!-- ______________________________________________________________________________________________________________ -->
    
    <!-- Veranstalter - MEHRZAHL -->
        <xs:element name="VeranstalterM">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="Veranstalter"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
    <!--/Veranstalter - MEHRZAHL -->
    
    
    <!-- Veranstalter - EINZAHL --> 
    
        <!-- SimpleTypes -->
        <xs:element name="VTName" type="xs:string"/>
        <xs:element name="VTGeschlecht" type="Geschlecht"/>
        <xs:element name="VTEmail" type="xs:string"/>
        <xs:element name="VTTelefon" type="xs:integer"/>
        
        <!-- ComplexTypes -->
        <xs:element name="Veranstalter">
            <xs:complexType>
                <xs:sequence>
                    <xs:element ref="VTName"/>
                    <xs:element ref="VTGeschlecht"/>
                    <xs:element ref="VTEmail"/>
                    <xs:element ref="VTTelefon"/>
                    
                    <!--  ElementRefs -->
                    <xs:element ref="VeranstaltungIDRef" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element ref="EquipmentIDRef" minOccurs="0" maxOccurs="unbounded"/>
                    <!-- /ElementRefs -->
                    
                </xs:sequence>
                <xs:attribute ref="id" use="required"/>
            </xs:complexType>
        </xs:element>
    
    <!-- /Veranstalter - EINZAHL (sowie beim späteren Benutzer noch Abonnements hinzufügen) -->

<!-- ______________________________________________________________________________________________________________ -->
   
    <!-- !!! Referenzierungselemente !!! -->
        <xs:element name="SportgruppeIDRef"/>
        <xs:element name="SportartIDRef"/>
        <xs:element name="VeranstaltungIDRef"/>
        <xs:element name="VeranstalterIDRef"/>
        <xs:element name="GebaeudeIDRef"/>
        <xs:element name="OrtIDRef"/>
        <xs:element name="EquipmentIDRef"/>
    <!-- !!! Referenzierungselemente !!! -->
 
    <!-- Attribute -->
    <!--  <xs:attribute name="ref" type="xs:IDREF"/> -->    <!-- Ausgeklammert, da kein Attribut mehr verwendet sondern Elemente -->
        <xs:attribute name="id" type="xs:ID"/>
        <xs:attribute name="entliehen" type="xs:boolean"/>
    <!-- /Attribute -->
    
    
    
    
    <!-- Datentypen -->
        <xs:simpleType name="Geschlecht">
            <xs:restriction base="xs:string">
                <xs:enumeration value="w"/>
                <xs:enumeration value="m"/>
            </xs:restriction>
        </xs:simpleType>
    <!-- /Datentypen -->
</xs:schema>
